.container {
    max-width: 1000px !important;
}

h1 {
    font-size: 32px
}

h2 {
    font-size: 28px
}

h3 {
    font-size: 24px
}

h4 {
    font-size: 20px
}

p,
li {
    font-size: 14px
}

.header-intro {
    margin: 30px auto;
}

.header-top {
    display: flex;
}

.header-headshot {}

.headshot {
    height: 300px;
    width: 300px;
}

.header-links {
    display: flex;
    flex-direction: column;
    padding-left: 0;
}

.links {
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    margin: 15px 0
}

.sublinks {
    margin-right: 15px
}

#about-me-title:hover,
#card-header-about-me:hover,
.card:hover {
    cursor: pointer;
}

#plus-minus {
    padding: 10px;
    border: 1px solid #000;
    color: #fff;
    background-color: #000;
    width: 120px;
    border-radius: 5px
}

.work-logo {
    height: 75px;
}

.cw-logo {}

.ac-logo {}

.bpt-logo {}

.drpm-logo {}

.csbsju-logo {
    Max-width: 350px
}

.lf-logo {
    background-color: #00ADEF;
}

.csbsju-logo {}

.xprnce-individual {
    /* display: flex; */
    /* justify-content: space-between */
}

.job-title {
    display: flex;
    justify-content: space-between;
}

button a {
    color: #fff
}

a:hover {
    text-decoration: none !important;
}

footer {
    bottom: 0;
}

.card {
    width: 100% !important;
    border: 0.5px solid #ddd;
    border-radius: .25rem;
}

.card-group {
    display: flex !important;
    flex-direction: column;
    border: 0.5px solid #ddd;
    border-radius: .25rem;
}

.card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}