html {
    margin: 0 auto;
    display: flex;
    align-content: center;
    font-family: sans-serif;
}

body {
    margin: auto;
    background-color: #ddd;
}

.wrapper {
    background-color: white;
    margin: 0px 30px;
    padding: 30px;
}

.container {
    max-width: 800px !important;
}

h1 {
    font-size: 28px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 10px 0;
    font-weight: 300
}

p,
li {
    font-size: 14px;
}

hr {
  color: #aaa
}

.header-intro {
    margin: 30px auto;
}

.header-top {
    display: flex;
    margin-bottom: 15px !important;
    justify-content: space-between;
}

.header-links {
    display: flex;
    flex-direction: column;
    padding-left: 0;
}

.name-title {
    display: flex;

}

.header-profile-picture {
    max-width: 100px;
}


.links {
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    margin: 15px 0
}

.sublinks {
    margin: 5px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 300;
    padding: 10px;
    border-radius: 5px;
}

#sub-github {
    background-color: #24292F;
    color: #fff;
}
#sub-gitlab {
    background-color: #292961;
    color: #fff;
}
#sub-linkedin {
    background-color: #0A66C2;
    color: #fff;
}
#sub-stack {
    background-color: #F48225;
    color: #fff;
}
#sub-photography {
  background-color: orangered;
  color: #fff;
}
#sub-ebird {
    background-color: rgb(27, 103, 0);
    color: #fff;
}

button {
    border: none;
    background-color: #fff;
}

.work-logo {
    height: 75px;
}

.cw-logo {}

.ac-logo {}

.bpt-logo {}

.drpm-logo {}

.csbsju-logo {
    Max-width: 300px;
    height: 50px;
}

.lf-logo {
    background-color: #00ADEF;
}

.nb-logo {
    max-width: 250px;
}

.op-im-logo {
    width: 250px;
    height: 60px;
}

.experience-individual {}

.job-title {
    display: flex;
    justify-content: space-between;
}

.techskills-parent>div {
    width: 33%;
}

button a {
    color: #fff
}

footer {
    bottom: 0;
}

.section {
    margin: 15px 0
}

.section h1 {
    border-bottom: 2px solid #000;
    border-top: 2px solid #000;
    margin: 10px 0;
    padding: 15px 0
}

.techskills-parent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.techskills-parent>div>p {
    margin: 5px 0
}

#skills-mobile {
    display: none;
}


/* MOBILE */

@media only screen and (max-width: 800px) {
    p, li, a {
        font-size: 16px;
    }
    .wrapper {
        margin: 0 15px 30px 15px;
    }
    .header-top {
        flex-direction: column;
        align-content: center;
    }
    .name-title {
        display: flex;
        flex-direction: column-reverse;
    }
    .job-title {
        flex-direction: column-reverse;
    }
    .work-logo {
        max-height: 75px;
        margin: 0 auto;
    }
    .techskills-parent {}

    .links {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-content: center;
        justify-content: center;
    }
    .sublinks {
        text-align: center;
        font-size: 16px;
        text-transform: uppercase;
        padding: 10px;
    }
    #cj-icon {
        display: none;
    }
    .job-title {
        text-align: center;
    }
    #skills-mobile {
        display: flex;
    }
    #skills-desktop {
        display: none;
    }
}
